* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  scroll-behavior: smooth;
}
.btn {
  padding: 10px;
  font-size: 16px;
  background: #81003d;
  margin-right: 10px;
  width: 200px;
  text-align: center;
  transition: all 0.2s;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    transform: translateY(-2%);
  }
}
.main {
  position: relative;
  background: #141e30; /* fallback for old browsers */

  background: linear-gradient(
    to right,
    #141e30,
    #252934
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow-x: hidden;
  .title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.fixed-icons {
  display: flex;
  flex-direction: row;

  padding: 10px;

  .github,
  .twitter,
  .linkedin,
  .medium {
    margin-right: 20px;
    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      transform: translateY(-10%);
    }
  }
}

//-------Styling hero page---------
#hero {
  height: calc(100vh - 25vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%;
  .react,
  .css,
  .node,
  .db,
  .sass,
  .html,
  .js {
    display: none;
  }

  .section {
    width: 60px;
    min-width: 100%;
    .name {
      display: flex;
      flex-direction: row;
      .head {
        margin-right: 10px;
      }
      .part {
        h1 {
          color: #81003d;
        }
      }
    }
    .profession {
      margin-bottom: 10px;
    }
    p {
      font-size: 0.8em;
      letter-spacing: 2px;
    }
  }
  .desc {
    letter-spacing: 2px;
  }
  a {
    text-decoration: none;
  }
  .button {
    margin-top: 30px;
    display: flex;
    flex-direction: row;

    .btn {
      padding: 10px;
      font-size: 0.8em;
      background: #81003d;

      width: 200px;
      text-align: center;
      transition: all 0.2s;
      &:hover {
        cursor: pointer;
        background-color: transparent;
        border: 1px solid white;
        transform: translateY(-4%);
      }
    }
  }
  .grid {
    display: none;
  }
}

//-------Styling about page---------
#about {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  .outer-box {
    position: relative;

    width: 90vw;
    line-height: 50px;
    letter-spacing: 1px;
    // height: 450px;
    // min-height: 200px;
    padding: 40px;
    margin: 0 auto;

    #second {
      display: none;
      grid-template-columns: 1fr 1fr 1fr;
      line-height: 40px;

      span {
        display: block;
        margin-top: -8px;
        height: 1px;
        width: 100px;
        background-color: white;
        margin-bottom: 10px;
      }
      .tools {
      }
    }
    #third,
    #fourth {
      display: none;
    }

    .arrow {
      margin-top: 40px;
      position: absolute;
      top: 100%;
      right: 5%;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-out;

      p {
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
        letter-spacing: 2px;
      }
    }
  }
}

//-------Styling skills page---------
#skills {
  height: 100vh;
}

//-------Styling blogs page---------
#blog {
  height: 100%;

  .blog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .blog-card {
      width: 90vw;
      position: relative;
      margin-bottom: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px;
      align-items: center;
      // background-color: rgba(129, 0, 61, 0.5);
      .gatsbyimage {
        width: 400px;
      }
      .overlay {
        .head {
          margin-bottom: 10px;
        }
        .date {
          margin-bottom: 20px;
          font-size: 0.7em;
        }
        .excerpt {
          opacity: 0.8;
          margin-bottom: 30px;
        }
        .btn {
          background-color: transparent;
          border: 1px solid white;
          transition: all 1s ease-in;
          &:hover {
            background: #141e30; /* fallback for old browsers */

            background: linear-gradient(to right, #141e30, #243b55);
          }
        }
      }
    }
  }
}

//-------Styling work page---------
#work {
  // height: 100%;
  // width: 100%;
  a {
    text-decoration: none;
  }
  .project-wrapper {
    display: flex;

    flex-direction: column;
    align-items: center;
    align-items: center;

    margin-bottom: 200px;
    .img-wrapper {
      position: relative;

      height: 200px;
      width: 320px;
      transition: all 0.5s ease-out;

      &:hover {
        cursor: pointer;
        .plain {
          top: -4%;
          left: 2%;
          border: 4px solid #81003d;
        }
        .img {
          filter: grayscale(0);
          border: 4px solid white;
        }
      }
      .plain {
        display: none;
      }
      .img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 90%;

        filter: grayscale(100%);
      }
    }
    .text {
      height: auto;
      width: auto;
      max-width: 80%;
      max-height: 90%;

      //margin: 10px 0px;
      padding: 20px;
      background-color: rgba(129, 0, 61, 0.5);

      p {
        color: white;
        margin-bottom: 10px;
        opacity: 1;
      }
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5em;

        .git {
          margin-right: 10px;
        }
      }
    }
  }
}
//-------Styling contact page---------
#contact {
  height: 100%;

  .image {
    z-index: 99;
    height: 100vh;
    width: 100%;
    position: relative;

    img {
      height: 100vh;
      width: 100%;
    }
    .layer {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100%;
      background-color: #6b0f1a;
      background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);

      opacity: 0.5;
      .home {
        position: absolute;
        bottom: 2%;
        left: 5%;
      }
    }
    .contact-box {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      padding: 3rem 2rem;
      background: linear-gradient(
        to right,
        rgba(20, 30, 48, 0.5),
        rgba(36, 59, 85, 0.5)
      );

      .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        .icons {
          // margin-top: 30px;

          .google,
          .linkedin,
          .twitter {
            margin-right: 10px;
            background: transparent;
            &:hover {
              cursor: pointer;
              color: #006fab;
              background: transparent;
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
              width: 40px;
            }
          }
        }
      }
      .contact1,
      .contact2,
      .contact3 {
        margin-bottom: 20px;
        .header {
          font-size: 2vw;
          font-weight: 700;
        }
      }
      .contact3 {
        .header-last {
          font-weight: 700;
          font-size: 2vw;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}

//---------Responsiveness ------
@media only screen and (min-width: 1111px) {
  #work {
    height: 100%;
    width: 100%;
    a {
      text-decoration: none;
    }
    .project-wrapper {
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;

      margin-bottom: 200px;
      .img-wrapper {
        position: relative;
        margin: 10px 20px;
        height: 400px;
        width: 500px;
        transition: all 0.5s ease-out;

        &:hover {
          cursor: pointer;
          .plain {
            top: -4%;
            left: 2%;
            border: 4px solid #81003d;
          }
          .img {
            filter: grayscale(0);
            border: 4px solid white;
          }
        }
        .plain {
          display: block;
          position: absolute;
          top: -5%;

          height: 220px;
          width: 600px;
          max-width: 100%;
          max-height: 90%;
          border: 4px solid white;
          animation: imageanimation 0.5s 1;
        }
        .img {
          margin-left: 30px;
          filter: grayscale(100%);
        }
      }
      .text {
        padding: 50px;
        width: 700px;
        background-color: rgba(129, 0, 61, 0.5);

        p {
          color: white;
          margin-bottom: 10px;
          opacity: 1;
        }
        .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 1.5em;

          .git {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #hero {
    position: relative;
    height: calc(100vh - 25vh);

    gap: 120px;
    align-items: center;
    margin-left: 5%;

    .flex-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .section {
        width: 60px;
        min-width: 100%;

        .name {
          text-align: center;
          letter-spacing: 2px;
          margin-bottom: 10px;
          font-size: 2vw;
        }
      }
      .desc {
        letter-spacing: 2px;
        width: 700px;
      }

      a {
        text-decoration: none;
      }
      .button {
        margin-top: 30px;
        display: flex;
        flex-direction: row;

        .btn {
          padding: 20px;

          background: #81003d;
          margin-right: 10px;
          width: 250px;
          text-align: center;
          transition: all 0.2s;
          &:hover {
            cursor: pointer;
            background-color: transparent;
            border: 1px solid white;
            transform: translateY(-4%);
          }
        }
      }
    }

    //   .react,
    //   .css,
    //   .node,
    //   .db,
    //   .sass,
    //   .html,
    //   .js {
    //     position: absolute;
    //     display: block;
    //     transition: all 0.3s ease-out;
    //   }
    // }
    // .react {
    //   top: 80%;
    //   left: 7%;

    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(10px) translateY(10px);
    //   }
    // }
    // .node {
    //   left: 10%;
    //   top: 10%;
    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(-10px) translateY(-10px);
    //   }
    // }
    // .sass {
    //   right: 5%;
    //   & > * {
    //     fill: rgba(20, 30, 48, 0.8);
    //   }
    //   &:hover {
    //     transform: translateX(10px) translateY(10px);
    //   }
    // }
    // .db {
    //   right: 20%;
    //   top: 10%;
    //   & > * {
    //     fill: rgba(20, 30, 48, 0.6);
    //   }
    //   &:hover {
    //     transform: translateX(10px) translateY(-10px);
    //   }
    // }
    // .js {
    //   top: 80%;
    //   right: 20%;
    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(-10px) translateY(10px);
    //   }
    // }
    // .html {
    //   top: 40%;
    //   left: 15%;
    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(10px) translateY(10px);
    //   }
    // }
    // .css {
    //   left: 0;
    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(-10px) translateY(10px);
    //   }
    // }
  }

  #about {
    font-family: "Poppins", sans-serif;
    height: 100vh;

    #first,
    #second,
    #third {
      font-size: 1.5vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      h1 {
        margin-bottom: 20px;
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vw;
        padding: 100px;
        .desc {
          line-height: 40px;
        }
        a {
          text-decoration: none;

          .btn {
            display: flex;
            flex-direction: row;
            align-items: center;

            justify-content: center;
            transition: all 1s ease-out;
            margin-top: 100px;

            .arrow {
              margin-left: 10px;
              transition: all 0.5s ease-out;
            }
            &:hover {
              .arrow {
                transform: rotateZ(90deg);
              }
            }
          }
        }
      }
    }
    #first {
      height: calc(100vh - 25vh);
    }

    #skills {
      height: 100vh;

      .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  @media only screen and (max-width: 414px) {
    #hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 5%;
      .section {
        min-width: 100%;
      }
      .button {
        display: flex;
        flex-direction: column;
        .btn {
          margin-bottom: 10px;
        }
      }
    }
  }

  //ANIMATIONS
  @keyframes imageanimation {
    0% {
      transform: translateY(20%);
    }
    25% {
      transform: translateY(5%);
    }
    50% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
