* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  scroll-behavior: smooth;
}
.btn {
  padding: 10px;
  font-size: 16px;
  background: #81003d;
  margin-right: 10px;
  width: 200px;
  text-align: center;
  transition: all 0.2s;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    transform: translateY(-2%);
  }
}
.main {
  position: relative;
  background: #141e30; /* fallback for old browsers */

  background: linear-gradient(
    to right,
    #141e30,
    #252934
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow-x: hidden;
  .title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.fixed-icons {
  display: flex;
  flex-direction: row;

  padding: 10px;

  .github,
  .twitter,
  .linkedin,
  .medium {
    margin-right: 20px;
    &:hover {
      transform: translateY(-10%);
    }
  }
}

//-------Styling hero page---------
#hero {
  margin-top: 10px;
  height: 100%;
  //height: calc(100% - 25vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%;

  .react,
  .css,
  .node,
  .db,
  .sass,
  .html,
  .js {
    display: none;
  }

  .section {
    margin-top: 50px;
    width: 60px;
    min-width: 100%;

    .name {
      display: flex;
      flex-direction: row;
      .head {
        margin-right: 10px;
      }
      .part {
        h1 {
          color: #81003d;
        }
      }
    }
    .profession {
      margin-bottom: 10px;
    }
    p {
      font-size: 0.8em;
      letter-spacing: 2px;
    }
  }
  .desc {
    letter-spacing: 2px;
  }
  a {
    text-decoration: none;
  }
  .button {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    // margin-right: 50px;
    .btn {
      position: relative;
      z-index: 1;
      background-color: transparent;
      border: 1px solid white;
      margin-bottom: 10px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: top center;
        background: #81003d;
        z-index: -1;
        transition: transform 0.4s;
      }
      &:hover::after {
        transform: scaleY(1);
      }
    }

    // .btn {
    //   padding: 10px;
    //   font-size: 0.8em;
    //   background: #81003d;

    //   width: 200px;
    //   text-align: center;
    //   transition: all 0.2s;
    //   &:hover {
    //     cursor: pointer;
    //     background-color: transparent;
    //     border: 1px solid white;
    //     transform: translateY(-4%);
    //   }
    // }
  }
  .grid {
    display: none;
  }
}

//-------Styling about page---------
#about {
  font-family: "Poppins", sans-serif;

  #first,
  #second,
  #third {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    width: 100vw;
    span {
      display: block;
      height: 3px;
      width: 50px;
      background-color: white;
      margin-bottom: 30px;
    }
    .impact-span {
      width: 200px;
      margin-top: 10px;
    }
    .desc,
    .tools {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      .btn {
        display: none;
        // align-items: center;
        // justify-content: center;
        // justify-content: center;
        // transition: all 1s ease-out;
        // //margin-top: 100px;
        // position: relative;
        // z-index: 1;
        // background-color: transparent;
        // border: 1px solid white;

        // &::after {
        //   content: "";
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        //   transform: scaleY(0);
        //   transform-origin: top center;
        //   background: #81003d;
        //   z-index: -1;
        //   transition: transform 0.4s;
        // }
        // &:hover::after {
        //   transform: scaleY(1);
        // }
        .arrow {
          margin-left: 10px;
          transition: all 0.5s ease-out;
        }
        &:hover {
          .arrow {
            transform: rotateZ(90deg);
          }
        }
      }
    }
    .skills {
      p {
        margin-top: 10px;
      }
      span {
        display: block;
        background-color: white;
        height: 1px;
        width: 100px;
        margin-bottom: 10px;
      }
      li {
        list-style: none;
      }
    }
  }
  #third {
    // height: calc(100vh - 10vh);
    position: relative;
    .up {
      position: absolute;
      bottom: 0;
      right: 5%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

//-------Styling skills page---------
#skills {
  height: 100vh;
}

//-------Styling blogs page---------
#blog {
  height: 100%;

  .blog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .blog-card {
      width: 90vw;
      position: relative;
      margin-bottom: 80px;
      display: flex;
      // grid-template-rows: 1fr 1fr;
      flex-direction: column;

      //padding: 20px;
      //align-items: center;
      // background-color: rgba(129, 0, 61, 0.5);
      .gatsbyimage {
        width: 250px;
        margin-bottom: 10px;
      }
      .overlay {
        .head {
          margin-bottom: 10px;
        }
        .date {
          margin-bottom: 20px;
          font-size: 0.7em;
        }
        .excerpt {
          opacity: 0.8;
          margin-bottom: 30px;
        }
        .btn {
          position: relative;
          z-index: 1;
          background-color: transparent;
          border: 1px solid white;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            transform-origin: top center;
            background: #81003d;
            z-index: -1;
            transition: transform 0.4s;
          }
          &:hover::after {
            transform: scaleY(1);
          }
        }
      }
    }
  }
}

//-------Styling work page---------
#work {
  height: 100%;

  a {
    text-decoration: none;
  }
  .main {
    margin-top: 15px;
  }
  .project-wrapper {
    display: flex;

    flex-direction: column;
    align-items: center;

    margin-bottom: 150px;
    .img-wrapper {
      position: relative;

      height: 300px;
      width: 400px;
      transition: all 0.5s ease-out;

      &:hover {
        cursor: pointer;

        .img {
          // filter: grayscale(0);
          border: 4px solid white;
        }
      }
      .plain {
        display: none;
      }
      .img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 90%;
      }
    }
    .text {
      max-width: 80%;
      max-height: 90%;

      //margin: 10px 0px;
      padding: 20px;
      background-color: transparent;

      p {
        color: white;
        margin-bottom: 10px;
        opacity: 1;
      }
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5em;

        .icns {
          .git,
          .link {
            margin-right: 10px;
            &:hover {
              transform: translateY(-10%);
            }
          }
        }
      }
    }
  }
}
//-------Styling contact page---------
#contact {
  height: 100%;

  .image {
    z-index: 99;
    height: 100vh;
    width: 100%;
    position: relative;

    img {
      height: 100vh;
      width: 100%;
    }
    .layer {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100%;
      background-color: #6b0f1a;
      background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);

      opacity: 0.5;
      .home {
        position: absolute;
        bottom: 2%;
        left: 5%;
      }
    }
    .contact-box {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      padding: 3rem 2rem;
      background: linear-gradient(
        to right,
        rgba(20, 30, 48, 0.5),
        rgba(36, 59, 85, 0.5)
      );

      .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        .icons {
          // margin-top: 30px;

          .google,
          .linkedin,
          .twitter {
            margin-right: 10px;
            background: transparent;
            &:hover {
              cursor: pointer;
              color: #006fab;
              background: transparent;

              width: 40px;
            }
          }
        }
      }
      .contact1,
      .contact2,
      .contact3 {
        margin-bottom: 20px;
        .header {
          font-size: 2vw;
          font-weight: 700;
        }
      }
      .contact3 {
        .header-last {
          font-weight: 700;
          font-size: 2vw;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}

//---------Responsiveness ------

@media only screen and (min-width: 1111px) {
  #work {
    height: 100%;
    width: 100%;
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: center;

      a {
        text-decoration: none;
      }
      .project-wrapper {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        // align-items: center;
        //justify-content: start;

        width: 80vw;

        margin-bottom: 200px;
        .img-wrapper {
          position: relative;
          margin: 10px 20px;
          height: 400px;
          width: 500px;
          transition: all 0.5s ease-out;

          &:hover {
            cursor: pointer;

            .img {
              filter: grayscale(0);
              border: 4px solid white;
            }
          }

          .img {
            margin-left: 30px;
          }
        }
        .text {
          padding: 50px;
          width: 700px;
          background-color: transparent;
          // background-color: rgba(129, 0, 61, 0.5);

          p {
            color: white;
            margin-bottom: 10px;
            opacity: 1;
          }
          .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1.5em;
            .icns {
              .git,
              .link {
                margin-right: 10px;
                &:hover {
                  transform: translateY(-10%);
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-height: 720px) {
  #hero {
    height: calc(100vh - 25vh);

    //justify-content: start;
  }
}
@media only screen and (min-width: 770px) {
  #blog {
    height: 100%;

    .blog-wrapper {
      .blog-card {
        margin-bottom: 80px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        align-items: center;
        .gatsbyimage {
          width: 400px;
          margin-right: 20px;
        }
        .overlay {
          .head {
            margin-bottom: 10px;
          }
          .date {
            margin-bottom: 20px;
            font-size: 0.7em;
          }
          .excerpt {
            opacity: 0.8;
            margin-bottom: 30px;
          }
          .btn {
            position: relative;
            z-index: 1;
            background-color: transparent;
            border: 1px solid white;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: scaleY(0);
              transform-origin: top center;
              background: #81003d;
              z-index: -1;
              transition: transform 0.4s;
            }
            &:hover::after {
              transform: scaleY(1);
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #hero {
    position: relative;
    height: calc(100vh - 25vh);

    gap: 120px;
    align-items: center;
    margin-left: 5%;

    .flex-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .section {
        width: 60px;
        min-width: 100%;

        .name {
          text-align: center;
          letter-spacing: 2px;
          margin-bottom: 10px;
          font-size: 2vw;
        }
      }
      .desc {
        letter-spacing: 2px;
        width: 700px;
      }

      a {
        text-decoration: none;
      }
      .button {
        margin-top: 30px;
        display: flex;
        flex-direction: row;

        .btn {
          position: relative;
          z-index: 1;
          background-color: transparent;
          border: 1px solid white;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            transform-origin: top center;
            background: #81003d;
            z-index: -1;
            transition: transform 0.4s;
          }
          &:hover::after {
            transform: scaleY(1);
          }
        }
      }
    }

    //   .react,
    //   .css,
    //   .node,
    //   .db,
    //   .sass,
    //   .html,
    //   .js {
    //     position: absolute;
    //     display: block;
    //     transition: all 0.3s ease-out;
    //   }
    // }
    // .react {
    //   top: 80%;
    //   left: 7%;

    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(10px) translateY(10px);
    //   }
    // }
    // .node {
    //   left: 10%;
    //   top: 10%;
    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(-10px) translateY(-10px);
    //   }
    // }
    // .sass {
    //   right: 5%;
    //   & > * {
    //     fill: rgba(20, 30, 48, 0.8);
    //   }
    //   &:hover {
    //     transform: translateX(10px) translateY(10px);
    //   }
    // }
    // .db {
    //   right: 20%;
    //   top: 10%;
    //   & > * {
    //     fill: rgba(20, 30, 48, 0.6);
    //   }
    //   &:hover {
    //     transform: translateX(10px) translateY(-10px);
    //   }
    // }
    // .js {
    //   top: 80%;
    //   right: 20%;
    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(-10px) translateY(10px);
    //   }
    // }
    // .html {
    //   top: 40%;
    //   left: 15%;
    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(10px) translateY(10px);
    //   }
    // }
    // .css {
    //   left: 0;
    //   & > * {
    //     fill: rgba(1, 1, 1, 0.3);
    //   }
    //   &:hover {
    //     transform: translateX(-10px) translateY(10px);
    //   }
    // }
  }

  #about {
    font-family: "Poppins", sans-serif;

    #first,
    #second,
    #third {
      font-size: 20px;
      height: 100vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        padding: 100px;

        img {
          margin-right: 10px;
        }
        .skills {
          width: 80vw;
          display: grid;
          grid-template-columns: 2fr 2fr 2fr;
          span {
            height: 1px;
            display: block;
            width: 100px;
            background-color: white;
            margin-bottom: 20px;
          }
        }
        h1 {
          margin-bottom: 1px;
        }
        span {
          display: block;
          height: 3px;
          width: 50px;
          background-color: white;
          margin-bottom: 30px;
        }
        .impact-span {
          width: 200px;
          margin-top: 10px;
        }

        .desc {
          line-height: 40px;
        }
        a {
          text-decoration: none;

          .btn {
            display: flex;
            flex-direction: row;
            align-items: center;

            justify-content: center;
            transition: all 1s ease-out;
            margin-top: 100px;
            position: relative;
            z-index: 1;
            background-color: transparent;
            border: 1px solid white;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: scaleY(0);
              transform-origin: top center;
              background: #81003d;
              z-index: -1;
              transition: transform 0.4s;
            }
            &:hover::after {
              transform: scaleY(1);
            }

            .arrow {
              margin-left: 10px;
              transition: all 0.5s ease-out;
            }
            &:hover {
              .arrow {
                transform: rotateZ(90deg);
              }
            }
          }
        }
      }
    }
    #first {
      height: calc(100vh - 10vh);
    }

    #third {
      height: calc(100vh - 10vh);
      .up {
        position: absolute;
        bottom: 0;
        right: 5%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  @media only screen and (max-width: 414px) {
    #hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 5%;
      .section {
        min-width: 100%;
      }
      .button {
        display: flex;
        flex-direction: column;
        .btn {
          margin-bottom: 10px;
        }
      }
    }
  }

  //ANIMATIONS
  @keyframes imageanimation {
    0% {
      transform: translateY(20%);
    }
    25% {
      transform: translateY(5%);
    }
    50% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
