.footer {
  letter-spacing: 2px;
  font-size: 0.6em;
  width: 400px;
  background-color: black;

  min-height: 20px;
  height: 50vh;
  width: 100vw;

  border: 2px solid red;
  position: absolute;
  bottom: 0;

  left: 55%;
  transform: translateX(-50%);
  padding: 20px;
  .overlapper {
    background: #2a2b35;
  }
}
