.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 15vh;

  .links {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    #hidden-burger {
      span {
        display: block;
        height: 2px;
        width: 25px;
        background-color: white;
        margin-bottom: 4px;
        transition: all 0.3s ease-out;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .about,
    .work,
    .skills,
    .contact,
    .blog,
    .home {
      display: none;
    }
  }
}

.currentLink {
  color: grey;
}
@media only screen and (min-width: 768px) {
  .links {
    .about,
    .work,
    .skills,
    .contact,
    .blog,
    .home {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 1em;
      margin-right: 10px;
      &:hover {
        color: darkgrey;
      }
    }
  }
}

.after-click {
  .top {
    transform: rotate(-45deg) translate(-4px, 6px);
  }
  .middle {
    opacity: 0;
  }
  .bottom {
    transform: rotate(45deg) translate(-2px, -4px);
  }
}
