.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 15vh;

  .links {
    text-decoration: none;
    margin: 10px;
    padding: 10px;

    .about,
    .work,
    .skills,
    .contact,
    .blog,
    .home {
      text-decoration: none;
      color: white;
      font-size: 1em;
      margin-right: 10px;
    }
  }
}
