.nav {
  display: flex;
  flex-direction: column;

  .links {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .work,
  .skills,
  .contact,
  .blog,
  .home,
  .about {
    text-decoration: none;

    margin: 2px;
    padding: 1px;
    &:hover {
      color: darkgrey;
    }
  }
}

.currentLink {
  color: grey;
}
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 15vh;
    width: 100%;
    font-size: 1rem;
    .links {
      display: block;
      text-decoration: none;
      margin: 10px;
      padding: 10px;
      span {
        display: none;
      }
      .about,
      .work,
      .skills,
      .contact,
      .blog,
      .home {
        text-decoration: none;

        color: white;

        margin-right: 10px;
        &:hover {
          color: darkgrey;
        }
      }
    }
  }
}

.after-click {
  .top {
    transform: rotate(-45deg) translate(-4px, 6px);
  }
  .middle {
    opacity: 0;
  }
  .bottom {
    transform: rotate(45deg) translate(-2px, -4px);
  }
}
.link-show {
  transform: translateX(500%);
  background: white;
  opacity: 0.9;
  right: 0;
}
